@charset "UTF-8";
.button-basic, .button-report {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report {
  background-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* estilos globales*/
@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/coolvetica-rg.otf");
}
.flex {
  display: flex;
}

* {
  background-color: bisque;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

/* Estilos generales */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 24px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  border-radius: 4px;
}

/* Estilos para el menú hamburguesa */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 1;
  }
  .menu li {
    margin: 10px 0;
  }
  .menu-icon {
    display: block;
  }
  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}
.div-logo {
  /* display: flex; */
  justify-self: left;
  align-self: center;
}

.grilla-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.div-carrito {
  align-self: center;
  justify-self: end;
  padding-right: 50px;
}

.logo {
  border: 5px solid orange;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.logo-carrito {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: end;
}

.navbar {
  background-color: bisque;
}

nav {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  font-size: 20px;
  background-color: bisque;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  transition: color ease 0.5s;
}
nav ul li :hover {
  color: orange;
}

body {
  background-color: bisque !important;
}

.carousel {
  width: 500px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.justificar-centro {
  justify-self: center;
  align-self: center;
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-2-rows {
  display: grid;
  grid-template-rows: repeat(2, 0.5fr);
}

.flexbox-bajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.div-bajos {
  padding: 50px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.img-bajo1 {
  border: 5px solid;
  border-color: orange;
  margin: 20px;
  height: 250px;
  transition: height 2s;
}

.img-bajo1:hover {
  height: 300px;
}

.btn-primary {
  background-color: orange;
  border-color: orange;
  color: black;
}

.btn-primary:hover {
  background-color: orange;
  background-image: linear-gradient(to top, orange, orangered);
  border-color: orangered;
  color: black;
}

/* Reglas media query */
/* Mobile */
@media only screen and (max-width: 600px) {
  .grid-4-col {
    grid-template-columns: auto;
  }
}
/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .grid-4-col {
    grid-template-columns: auto;
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) {
  /* Estilos CSS para pantallas grandes */
  /* Por ejemplo: */
  .container {
    width: 60%;
    margin: 0 auto;
  }
}
/* Reglas media query */
/* Estilos para el contenedor principal */
.box-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  /* Box model para incluir padding y border en el ancho total */
}

/* Estilos para el iframe */
iframe {
  width: 100%;
  height: 400px;
  border: none;
  /* Eliminar borde del iframe */
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.iconos {
  height: 50px;
  width: 50px;
}

.flecha-enviar {
  height: 20px;
  width: 20px;
}

/*# sourceMappingURL=estilos.css.map */
