/* Medidas o breakpoints
📏MOBILE : Entre 320px y 768px
📏TABLET: Entre 769px y 1024px
📏DESKTOP: 1025px y 1200px 
*/

/* Estilos generales */
@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/coolvetica-rg.otf');
}

* {
  background-color: #53777a;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

header div,
header nav,
.lista-menu li {
  display: inline-block;
}

header div img {
  vertical-align: middle;
}

ul {
  align-items: center;
  justify-content: center;
  list-style: none;
}

ul li {
  border: 1px solid #ecd078;
  color: black;
  border-radius: 50px;
  background-color: #ecd078;
  padding: 15px;
}

ul li a {
  text-decoration: none;
  background-color: transparent;
  color: black
}

ul :hover {
  cursor: pointer;
  background-color: #e2b626;
  /* transition: 0.3s ease; */
}

ul li :hover {
  background-color: #e2b626;
  /* transition: 0.3s ease; */
}

.grilla {
  display: grid;
  padding: 15px;
  margin: 0 15px;
  background-color: burlywood;
  height: 80vh;
  /* viewport height */
  width: 80vw;
  /* viewport width */
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(5, fr);
  grid-template-areas: "logo nav";
}

.contenedor-grilla {
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  /* border: 3px solid black; */
}

.item-grilla {
  /* border: 1px solid black; */
  text-align: right;
  align-content: center;
}

.logo-inicio {
  display: inline-flex;
  border-radius: 50%;
  border: 5px solid #d95b43;
  height: 150px;
  width: 150px;
  grid-area: logo;
}

.redesSociales a {
  text-decoration: none;
}

.iconos {
  text-decoration: none;
  height: 25px;
  width: 25px;
  background-color: transparent;
}

.flechaEnviar {
  width: 50%;
}

/* https://drive.google.com/drive/folders/1igjt4_-R__X0ISwC1haOnBmQnjcPLrnD */

/* Regla de media query */
/* Mobile */
@media only screen and (max-width: 500px) {
  body {
    background-color: #53777a;
  }
}

/* Tablet */
@media only screen and (max-width: 501px) and (max-width: 960px) {
  body {
    background-color: #73777a;
  }
}

/* Desktop */
@media only screen and (max-width: 961px) {
  .grilla {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: lightcoral;
  }
}

/* Regla de media query */