@keyframes efecto {
    from {
        color: orangered;
    }

    to{
        color: orange;
    }
}

.efecto {
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0s
}