@media (max-width: 768px) {
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    // position: absolute;
  }
}

@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 150px;
      left: 0;
      z-index: 1;
  }

  .menu li {
      margin: 0px 0;
  }

  .menu-icon {
      display: block;
  }

  #menu-toggle:checked+.menu-icon+.menu {
      display: flex;
  }
}

/* Reglas media query */
/* Mobile */
@media only screen and (max-width: 600px) {
  .grid-4-col {
      grid-template-columns: auto;
  }
}


/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .grid-4-col {
      grid-template-columns: auto;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {

  /* Estilos CSS para pantallas grandes */
  /* Por ejemplo: */
  .container {
      width: 60%;
      margin: 0 auto;
  }
}

/* Reglas media query */