.grid-footer {
  display: grid;
  grid-template-columns: $tres-fracciones;
  grid-template-rows: $tres-fracciones;
  align-items: center;
  justify-items: center;
}

.iconos {
  height: 50px;
  width: 50px;
}

.flecha-enviar {
  height: 20px;
  width: 20px;
}

input:focus {
  background-color: $blanco;
}